* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.header {
  width: 100%;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  z-index: 5;
}

.group-name {
  background-color: #499d8d;
  opacity: 0.9;
  height: 60px;
  width: 100%;
  margin: 0px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.title-sprint {
  color: #fff;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.menu-container {
  background-color: #14d9c4;
  opacity: 0.9;
  height: 45px;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.menu {
  margin: 0;
  padding: 0px;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.button {
  font-size: 15px;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  text-align: center;
  display: inline;
}

.link-menu {
  text-decoration: none;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}/* 768px HEADER*//* FOOTER */.pie {
  width: 100%;
  text-align: center;
  border-top: 2px solid #b8b8b9;
  padding-top: 30px;
}

.titulo {
  color: #b8b8b9;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.text {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  list-style: none;
  padding: 0;
}

.enlace {
  display: block;
  text-align: center;
  text-decoration: none;
}

.logofoto {
  margin-top: 30px;
  margin-bottom: 45px;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 15px 60px 15px;
}

.form-box {
  margin-top: 15px;
}

.label {
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
}

.label__phone {
  margin-bottom: 10px;
}

.input {
  height: 45px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  padding-left: 15px;
}

.input__message {
  height: 105px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  padding-left: 15px;
}

::-webkit-input-placeholder {
 /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b8b8b9;
  opacity: 1;
 /* Firefox */;
}

:-ms-input-placeholder {
 /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b8b8b9;
  opacity: 1;
 /* Firefox */;
}

::-ms-input-placeholder {
 /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b8b8b9;
  opacity: 1;
 /* Firefox */;
}

::placeholder {
 /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b8b8b9;
  opacity: 1;
 /* Firefox */;
}

:-ms-input-placeholder {
 /* Internet Explorer 10-11 */
  color: #b8b8b9;
}

::-ms-input-placeholder {
 /* Microsoft Edge */
  color: #b8b8b9;
}

.send-button {
  margin-top: 30px;
  height: 45px;
  border: 0;
  background-color: #499d8d;
  border-radius: 5px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  line-height: 22px;
  text-align: center;
}

.imagen-claim {
  height: 465px;
}

.main-pic {
  background-image: url(../images/foto-header.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 421px;
}

.claim {
  background-color: #fff;
  height: auto;
 /* border: solid black 1px; */
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.claim-text {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}/* MEDIAQUERIES GIRO */.subtitle {
  color: #499d8d;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 45px;
  text-align: center;
}

.p,.p1,.p2 {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.imagen-claim--contact {
  height: 300px;
  width: 100%;
}

.main-pic--contact {
  background-image: url("../images/foto-header.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 300px;
}

.contacto {
  margin: 15px;
}

.contacto-main {
  text-align: center;
  width: 100%;
  margin: 30px 0 15px 0;
}

.contacto-h {
  color: #499d8d;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}

.contacto-text p {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.rule p {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  margin: 15px 0 45px 0;
}

.asterisco {
  color: #14d9c4;
  font-weight: bold;
  line-height: 24px;
}/* MAIN */.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
}/* EQUIPO */.equipo-main {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
}

.equipoh2,.quiensomosh2 {
  color: #499d8d;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.textoequipo {
  color: #499d8d;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}/* FORTALEZAS Y DEBILIDADES */.dafo {
  background-color: #f1f1f1;
  padding-bottom: 45px;
  position: relative;
}

.triangulo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-left: 15px solid #f1f1f1;
  border-right: 15px solid #f1f1f1;
}

.subtitle {
  margin-top: 30px;
  padding-top: 30px;
}

.debilidades {
  margin-top: 30px;
  background-color: #f1f1f1;
  padding: 0 15px;
}

.subtitle {
  margin-top: 30px;
  text-align: center;
}/* QUIENES SOMOS */.quienesSomos {
  margin: 30px auto 60px;
}

.quiensomosh2 {
  margin-top: 30px;
}

.adalaber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px 15px 15px;
}

.adalaber2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 15px 15px 15px;
}

.img {
  margin-top: 30px;
  margin-bottom: 15px;
  width: 180px;
  height: 180px;
  border: 5px solid #b8b8b9;
  border-radius: 8px;
}

.position-img {
  text-align: center;
}

p {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 0 15px 15px;
}

.name {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.listamedia {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.noitemmedia {
  float: right;
  margin-right: 10px;
}

.itemmedia::before {
  position: absolute;
  right: 25px;
  top: 8px;
  width: 3px;
  height: 3px;
  background-color: #499d8d;
  border-radius: 10px;
  content: '';
}

.fab,.fas {
  color: #499d8d;
}

.punto {
  display: inline-block;
  color: #499d8d;
}

@media all and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    background-color: #499d8d;
  }

  .group-name {
    width: 60%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: 45px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .menu-container {
    background-color: #499d8d;
    height: 60px;
    text-align: center;
  }

  .menu {
    margin-right: -4px;
  }

  .linea {
    margin: 0;
  }

  .pie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding: 0px 30px 49px 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .actions {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 25px;
    text-align: right;
    width: auto;
    text-align: right;
    list-style-type: none;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    list-style: none;
  }

  .titulo {
    position: absolute;
  }

  .enlace {
    text-align: right;
  }

  .titulo {
    position: absolute;
    padding: 0;
    left: 30px;
    top: 30px;
  }

  .logo {
    position: relative;
  }

  .logofoto {
    position: absolute;
    margin: 0;
    top: 59px;
    bottom: 60px;
  }

  .text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #54585a;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
  }

  .formulario {
    width: 442px;
  }

  .send-button {
    width: 206px;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .main-pic {
    background-position-y: 32%;
  }

  .claim {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0.7;
    width: 441px;
    padding: 15px 30px 15px 30px;
    margin-left: 45px;
  }

  .main-pic--contact {
    background-position-y: 32%;
  }

  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .movil {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contacto {
    width: 442px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .equipo-main {
    margin-top: 45px;
  }

  .textoequipo {
    margin-bottom: 60px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .dafo {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .fortalezas {
    margin: 45px 15px 60px 45px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
  }

  .subtitle {
    margin: 0 0 15px 0;
    padding: 0;
  }

  .debilidades {
    margin: 45px 45px 60px 15px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
  }

  .subtitle {
    margin: 0 0 15px 0;
    padding: 0;
  }

  .quiensomosh2 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .container-adalaber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container-adalaber2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .adalaber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 30px 60px 0;
    padding: 0;
  }

  .adalaber2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 0 60px 30px;
  }

  .p1 {
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
  }

  .p2 {
    text-align: right;
    padding: 0;
    margin-bottom: 15px;
  }

  .margin768 {
    margin: 0;
  }

  .img {
    padding: 0;
    margin: 0 30px;
    width: 205px;
    height: 205px;
  }
}

@media all and (min-width: 1200px) {
  .group-name {
    margin: 0 138px;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-right: -30px;
  }

  .menu-container {
    padding-right: 138px;
  }

  .titulo,.logo {
    margin-left: 138px;
  }

  .actions {
    margin-right: 138px;
  }

  .formulario {
    width: 601px;
    margin-bottom: 120px;
  }

  .send-button {
    width: 300px;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .mail-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .input__mail {
    width: 395px;
    margin-right: 44px;
  }

  .input__tel {
    width: 162px;
  }

  .claim {
    margin-left: 138px;
  }

  .imagen-claim--contact {
    height: 400px;
  }

  .main-pic--contact {
    height: 400px;
  }

  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .movil {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contacto {
    width: 601px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .equipo {
    width: 601px;
    margin-left: auto;
    margin-right: auto;
  }

  .fortalezas {
    margin-right: 20px;
    margin-left: 138px;
  }

  .debilidades {
    margin-right: 138px;
    margin-left: 20px;
  }

  .quienesSomos {
    margin-right: 138px;
    margin-left: 138px;
  }

  .quiensomosh2 {
    margin-right: 138px;
    margin-left: 138px;
  }

  .adalaber {
    margin-left: 15px;
    width: 439px;
  }

  .adalaber2 {
    margin-right: 15px;
    width: 439px;
  }

  .img {
    height: 278px;
    width: 278px;
  }
}

/*# sourceMappingURL=main.css.map */
