// COLORES

$primary-color: #099d8d;
$secondary-color: #f1f1f1;
$terciary-color: #14d9c4;

$color-light: #fff;
$color-light-midtone: #b8b8b9;
$color-midtone: #54585a;
$color-dark: #000;

// FUENTES

$font-title: 'Rubik', sans-serif;
$font-text: 'Open Sans', sans-serif;

$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$size-xxs: 12px;
$size-xs: 14px;
$size-s: 15px;
$size-m: 16px;
$size-l: 18px;
$size-xl: 20px;
$size-xxl: 22px;
$size-xxxl: 24px;

$font-capitalize: capitalize;
$font-uppercase: uppercase;
