.imagen-claim--contact {
  height: 300px;
  width: 100%;

  @media all and (min-width:1200px) {
    height: 400px;
  }
}

.main-pic--contact {
  background-image: url('../images/foto-header.jpg');
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 300px;

  @media all and (min-width:768px) {
    background-position-y: 32%;
  }

  @media all and (min-width:1200px) {
    height: 400px;
  }
}

.title-sprint {
  color: $color-light;
  font-size: $size-m;
  font-family: $font-title;
  font-weight: $weight-medium;
  text-transform: $font-uppercase;

  &:hover {
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: 1;

    @keyframes title {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.link-title {
  text-decoration: none;
  color: $color-light;
}


.contacto {
  margin: 15px;
}

.contacto-main {
  text-align: center;
  width: 100%;
  margin: 30px 0 15px 0;
}

.contacto-h {
  color: $primary-color;
  font-family: $font-title;
  font-weight: $weight-medium;
  font-size: $size-xxxl;
  text-transform: $font-uppercase;
}

.contacto-text p {
  color: $color-midtone;
  font-family: $font-text;
  font-size: $size-m;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.rule p {
  color: $color-midtone;
  font-family: $font-text;
  font-size: $size-xxs;
  line-height: 24px;
  text-align: center;
  margin: 15px 0 45px 0;
}

.asterisco {
  color: $terciary-color;
  font-weight: bold;
  line-height: 24px;
}

@media all and (min-width:768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacto {
    width: 442px;
    display: flex;
    flex-direction: column;
  }
}

@media all and (min-width:1200px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacto {
    width: 601px;
    display: flex;
    flex-direction: column;
  }
}
