
/* FOOTER */
.pie{
  width: 100%;
  text-align: center;
  border-top: 2px solid #B8B8B9;
  padding-top: 30px;
}
.titulo{
  color:#B8B8B9;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.text{
  color: #54585A;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height:20px;
  list-style: none;
  padding: 0;
}
.enlace{
  display:block;
  text-align: center;
  text-decoration: none;
}
.logofoto{
  margin-top: 30px;
  margin-bottom: 45px;
}
@media all and (min-width:768px){
  .linea{
    margin: 0;
  }
  .pie{
    display: flex;
    position:relative;
    padding: 0px 30px 49px 30px;
    flex-direction: row-reverse;
    justify-content: space-between;

  }
  .actions{
    box-sizing: border-box;
    margin-top: 25px;
    text-align: right;
    width: auto;
    text-align: right;
    list-style-type: none;
    align-content: flex-end;
    list-style: none;
  }
  .titulo{
    position: absolute;
  }
  .enlace{
    text-align: right;
  }
  .titulo{
    position: absolute;
    padding: 0;
    left: 30px;
    top: 30px;
  }
  .logo{
    position: relative;
  }
  .logofoto {
    position: absolute;
    margin:0;
    top:59px;
    bottom:60px;
  }
  .text{
    align-items: center;
    color: #54585A;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
  }
}

@media all and (min-width:1200px) {
  .titulo, .logo {
    margin-left: 138px;
}
  .actions {
    margin-right: 138px;
}
}
