.imagen-claim {
  height: 465px;
}

.main-pic {
  background-image: url(../assets/foto-header.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 421px;
}

.claim {
  background-color: #ffffff;
  height: auto;
  /* border: solid black 1px; */
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  transform: translateY(-50%);
}

.claim-text {
  color: #000000;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 18px;
}
/* MEDIAQUERIES GIRO */
@media all and (min-width:768px) {
  .main-pic {
    background-position-y: 32%;
  }

  .claim {
    transform: translateY(-100%);
    opacity: 0.7;
    width: 441px;
    padding: 15px 30px 15px 30px;
    margin-left: 45px;
  }
}
@media all and (min-width:1200px) {
  .claim {
    margin-left: 138px;
  }
}
